<div class="row">
    <div class="col-md-4 mt-10 mr-auto ml-auto">
        <div class="card login-card">
            <h4 class="card-header">Login</h4>
            <div class="card-body" style="padding-top: 50px;">
                <form class="example-form pb-2">
                    <mat-form-field class="full-width">
                        <input matInput name="UserName" [(ngModel)]="user.userName" type="text" placeholder="Username" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput name="Password" [(ngModel)]="user.password" type="password" placeholder="Password" (keyup.enter)="login()" required>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>