<div class="row">
    <div class="col-4 mt-auto mb-auto ml-auto">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form class="example-form">
                    <mat-form-field class="full-width">
                        <input matInput name="UserName" [(ngModel)]="user.userName" type="text" placeholder="Username" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput name="Password" [(ngModel)]="user.password" type="password" placeholder="Password" required>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>