<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary mb-5">
    <a class="navbar-brand" href="#">Finangular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/authorized/home"  routerLinkActive="active" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/authorized/loans"  routerLinkActive="active">Loans</a>
            </li>
        </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Logout</a>
        </li>
      </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--&lt;!&ndash;-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
                <!--<span class="input-group-btn">-->
                  <!--<button class="btn btn-info" type="button">Search</button>-->
                <!--</span>-->
            <!--</div>-->

            <!--&lt;!&ndash; <mat-form-field class="full-width">-->
                <!--<input matInput name="search" type="search" placeholder="Search...">-->
            <!--</mat-form-field> &ndash;&gt;-->
        <!--</form>-->
    </div>
</nav>
