<div class="row">
  <div class="col-3">
    <div class="card app-card p-3" style="width: 20rem;">
      <div>
        <i class="fa fa-cube fa-2x text-primary mb-2" aria-hidden="true"></i>
      </div>
      <div class="card-block">
        <h4 class="card-title">Application title</h4>
        <p class="card-text">Some small description about the application or some metrics</p>
        <a href="#" class="btn btn-primary">Open app</a>
      </div>
    </div>
  </div>
  <div class="col-3">
      <div class="card app-card p-3" style="width: 20rem;">
        <div>
          <i class="fa fa-cube fa-2x text-primary mb-2" aria-hidden="true"></i>
        </div>
        <div class="card-block">
          <h4 class="card-title">Application title</h4>
          <p class="card-text">Some small description about the application or some metrics</p>
          <a href="#" class="btn btn-primary">Open app</a>
        </div>
      </div>
    </div>
</div>
